h1{
  text-align: center;
}

hr{
  border-top: 1px solid;
}

select{
  padding: 5px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label[for="Publication"]{
  font-size: 12pt;
  font-weight: bold;
}

input[type="Entry"]{
  width: 35%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="Year"]{
  width: 100px;
  padding: 5px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label[for="New Field"]{
  font-size: 11pt;
  font-weight: bold;
}
