h1{
  text-align: center;
}

label[for="Title"]{
  font-size: 12pt;
  font-weight: bold;
}

input[type=file]{
  padding-top: 8px;
  padding-bottom: 8px;
}

input[type="Title Entry"]{
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea{
  width: 40%;
  height: 250px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  vertical-align: top;
  text-align: left;
}

hr{
  border-top: 1px solid;
}

label[for="New Field"]{
  font-size: 11pt;
  font-weight: bold;
}
