h1{
  text-align: center;
}

div.Journal, .Conference, .Workshop, .Poster, .TechR{
  font-size: 11pt;
}

ul{
  list-style-type: none;
}

label[for="filter"]{
  font-size: 12pt;
  font-weight: bold;
}

select{
  display: inline-block;
  border: 1px solid grey;
  border-radius: 0px;
  box-sizing: border-box;
}

a.boldFont{
  font-size: 16pt;
  font-weight: 500;
}

p.smallFont{
  font-size: 10pt;
}

ul{
  list-style-type: none;
}

div.m-3{
  padding: 8px;
}

div.PEntryContainer{
  margin-left: 8px;
}
