<nav id = "switch" class="sticky-top navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#changeCollapse">
          <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand mx-auto" href="#home"></a>

  <div class="collapse navbar-collapse" id="changeCollapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="../index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../Pages/pub.html">Publications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../Pages/press.html">Press</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../Pages/research.html">Research Interest and Programs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../Pages/teaching.html">Teaching</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../Pages/group.html">Research Group</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../Pages/contact.html">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../Pages/admin.html">Admin Pages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active"  id = "LightOrDark" href="#" data-toggle="collapse" data-target="#changeCollapse" ng-click= "changeLightOrDark()">Dark Mode</a>
      </li>
      </ul>
  </div>
</nav>
